@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

img {
    width: 100vw;
}

a {
    font-family: arial;
    display: block;
    background-color: darkred;
    padding: 20px;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
    color: white;
}

a:hover {
    padding-bottom: 23px;
    padding-top: 17px;
    background-color: red;
}